* {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}

body {
    background-color: #0D273A;
    background-image: url('../images/waves-2.png');
    background-position: center top;
    font-family: "ff-dagny-web-pro", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

a {
    color: @primary;
    text-decoration: none;
    transition: all .2s linear;
    &:hover {
        border-bottom: none;
        color: #fff;
    }
}

.container {
    max-width: @breakpoint;
    width: 90%;
    margin: 0 auto;
}