* {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}

body {
    font-family: "pt-serif", Georgia, serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 20px;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    font-family: "proxima-nova-soft", "helvetica neue", sans-serif;
}

a {
    color: @primary;
    text-decoration: none;
    transition: all .2s linear;
    &:hover {
        border-bottom: none;
        color: #fff;
    }
}

.container {
    max-width: @breakpoint;
    max-width: 640px;
    margin: 0 auto;
}

.container.wide-container {
    max-width: 800px;
}