.intro-wrap {
    min-height: 60%;
    min-width: 100%;
    display: table;
    vertical-align: middle;
    //box-shadow: inset lighten(@dark,7%) 0 0 0 20px;
    background-color: @dark;
    background-image: url('../images/waves-2.png');
    background-position: center top;
}

.intro-inner {
    display: table-cell;
    vertical-align: middle;
}

.intro-content {
    color: #fff;
    margin-top: -5%;

    h1 {
        font-size: 29px;
        text-shadow: 0 1px 2px @dark;
        font-weight: 400;
        text-rendering: optimizeLegibility;
        .amp {
            font-size: 26px;
        }
    }
    a {
        color: lighten(@primary,15%);
        transition: all .2s linear;
        border-bottom: solid 1px fade(@primary,10%);
        &:hover {
            border-bottom-color: #fff;
            color: #fff;
        }
    }
}

.headshot {
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    float: left;
    margin-right: 30px;
    border: solid 7px darken(#0D273A,2%);
    margin-top: -10px;
}

.intro {
    li {
        font-size: 1.6rem;
        color: #777;
        a {
            font-size: 2rem;
        }
    }
}

.socials {
    text-align: center;
}

  .socials-list {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
          display: inline-block;
          font-size: 40px;
          margin: 0 10px;
          a {
              color: @dark;
              border-bottom: 0;
              font-size: 50px;
              &:hover {
                  color: @primary;
              }
          }
      }
  }

.secondary {
    background-color: #fff;
    min-height: 100%;
    width: 100%;
    padding: 5% 0;
}


@media all and (max-width: @breakpoint) {

    .intro-wrap {
        box-shadow: none;
        min-height: 50%;
        padding: 50px 0;
    }

    .intro-content {
        margin-top: 0;
        text-align: center;

        h1 .amp {
            font-size: 20px;
        }
    }

    .headshot {
        max-width: 100px;
        max-height: 100px;
        float: none;
        margin-top: 5px;
    }

    .intro-content {
        h1 {
            font-size: 18px;
        }
    }

}