.intro {
    min-height: 100%;
    min-width: 100%;
    display: table;
    vertical-align: middle;
    box-shadow: inset lighten(@dark,7%) 0 0 0 20px;
    background-color: @dark;
    background-image: url('../images/waves-2.png');
    background-position: center top;
}

.intro-inner {
    display: table-cell;
    vertical-align: middle;
}

.intro-content {
    color: #fff;
    margin-top: -5%;

    h1 {
        font-size: 29px;
        text-shadow: 0 1px 2px @dark;
    }
    a {
        border-bottom: solid 1px fade(@primary,10%);
        &:hover {
            border-bottom-color: #fff;
            color: #fff;
        }
    }
}

.headshot {
    border-radius: 50%;
    max-width: 130px;
    max-height: 130px;
    float: left;
    margin-right: 30px;
    border: solid 5px darken(#0D273A,2%);
}

.socials {
    margin-top: 60px;
    text-align: center;
    opacity: 0.2;
    transition: opacity .2s linear;
    &:hover {
        opacity: 1;
    }
}

  .socials-list {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
          display: inline-block;
          font-size: 40px;
          margin: 0 10px;
          a {
              text-shadow: 0 1px 2px @dark;
          }
      }
  }

.secondary {
    background-color: #fff;
    min-height: 100%;
    width: 100%;
}


@media all and (max-width: @breakpoint) {

    .intro {
        box-shadow: none;
    }

    .intro-content {
        margin-top: 0;
        text-align: center;
    }

    .headshot {
        max-width: 100px;
        max-height: 100px;
        float: none;
    }

    .intro-content {
        h1 {
            font-size: 18px;
        }
    }

}