---
layout: default
---

<div class="intro">
    <div class="intro-inner">
        <div class="container wide-container">
            <div class="intro-content">
                <img src="/assets/images/headshot.png" class="headshot">
                <h1>I'm Tyler Pearson, a <a href="http://github.com/tylerpearson">web developer</a> & <a href="http://dribbble.com/tylerpearson">designer</a> living in beautiful Durham, North Carolina. I build cool things at <a href="http://newmediacampaigns.com">New Media Campaigns</a>.</h1>
            </div>

            <div class="socials">
                <ul class="socials-list">
                    <li><a href="http://twitter.com/tylerpearson"><i class="ss-icon ss-social-circle">twitter</i></a></li>
                    <li><a href="http://github.com/tylerpearson"><i class="ss-icon ss-social-circle">github</i></a></li>
                    <li><a href="mailto:ty.pearson@gmail.com"><i class="ss-icon ss-social-circle">mail</i></a></li>
                    <li><a href="http://dribbble.com/tylerpearson"><i class="ss-icon ss-social-circle">dribbble</i></a></li>
                    <li><a href="http://instagram.com/typearson"><i class="ss-icon ss-social-circle">instagram</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>